h1{
    text-align: center;
}

.centrar {
    width: 37%;
    margin-top: 2%;
    margin-left: 400px;
    border: 150px;
}

.imagenes {
    margin-top: 5%;
    margin-left: 100px;
}

.colorFondoAzul{
    background-color: cadetblue;
}

.colorFondoProductos{
    background-color: floralwhite;
}

.iconosLogin{
    position: absolute;
}

.productos{
    margin-top: 1%;
    width: 55%;
    margin-left: 250px;
}

.btnCerrarSesion{
    margin-left: 466px;
}