h1{
    text-align: center;
    background-color: white;
}

body {
    background-image: url(https://images.hdqwalls.com/download/moon-fox-galaxy-4k-79-1680x1050.jpg);
}

.centrar {
    width: 37%;
    margin-top: 2%;
    margin-left: 400px;
    border: 150px;
}

.imagenes {
    margin-top: 5%;
    margin-left: 100px;
}

.iconosLogin{
    position: absolute;
}

.productos{
    margin-top: -22.3%;
    width: 51%;
    margin-left: 49%;
    max-height: 14%;
}

.btnCerrarSesion{
    margin-left: 466px;
}

.lblPrecio{
    margin-left: 70%;
    margin-top: -14%;
    border: black;
}

.txtCantidad{
    width: 50%;
    margin-top: 8%;
}

.imagenesDespacho {
    width: 60%;
    margin-left: 4%;
    margin-top: 1px;
}

.despacho {
    width: 50%;
    margin-left: 680px;
    margin-top: -285px;
    border: ridge;
}

.imagenCalendario{
    width: 10%;
    float: right;
    margin-top: -39%;
}

.calendario{
    float: right;
    margin-top: -6%;
}

.imagenIngProd{
    width: 49%;
}

.btnCerrarSesionIngUs{
    margin-left: initial;
}

.btnsIngProd{
    margin-left: 50%;
    margin-top: -5px;
}

.btnDerecha{
    margin-top: -5.5%;
    margin-left: 54%;
}

.tablaDespacho{
    width: 70%;
    margin-left: 18%;
}

.fondoBLanco{
    background-color: white;
}

.btnProductos{
    margin-left: 18%;
}